<app-navbar></app-navbar>

<body>
    <div class="apoio">

    </div>
    <section class="card">
      <div class="card__container-img">
        <div class="card__container-img__bg">
          <h1>Quem sou eu ?</h1>
        </div>
      </div>
      <div class="card__container-content">
        <img src="../../assets/img/foto.jpeg" alt="foto do programador">

        <div class="container-informacao">

          <article class="card__container-content__infomacao">
            <h1>Profissional</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa numquam, maiores fugiat assumenda ducimus nobis eum, autem incidunt asperiores non111111111 deserunt! Eosasdsads asdasd  asd ahsgfhsgf hsghsg shgdjhgsdjh sghgdhsg shghg dshg hg srerum magnam modi tempora quam molestias voluptas voluptate.</p>
          </article>

          <article class="card__container-content__infomacao">
            <h1>Académico</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa numquam, maiores fugiat assumenda ducimus nobis eum, autem incidunt asperiores non deserunt! Eos rerum magnam modi tempora quam molestias voluptas voluptate.</p>
          </article>

          <article class="card__container-content__infomacao">
            <h1>Comportamental</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa numquam, maiores fugiat assumenda ducimus nobis eum, autem incidunt asperiores non deserunt! Eos rerum magnam modi tempora quam molestias voluptas voluptate.</p>
          </article>

          <article class="card__container-content__infomacao">
            <h1>Pessoal</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa numquam, maiores fugiat assumenda ducimus nobis eum, autem incidunt asperiores non deserunt! Eos rerum magnam modi tempora quam molestias voluptas voluptate.</p>
          </article>
        </div>
      </div>


      <section id="contato" class="container-contato">
        <h1>Contato</h1>
        <p>Desde já agradeço pela sua visíta para mais informações ou para sugestões de melhoria por gentileza, entrar em contato.</p>

        <section class="container-contato__card">
          <div class="formulario">
            <h1> Entrar em contato</h1>
            <p>Tem uma proposta ou algum feedbak para mim? Preencha o formulário para entrar em contato</p>
            <form action="">

              <label for="nome">Nome</label>
              <input type="text" id="nome">

              <label for="email">E-mail</label>
              <input type="email" id="email">

              <label for="mensagem">Assunto</label>
              <textarea name="mensagem" id="mensagem" cols="30" rows="7"></textarea>
              <button>Enviar</button>





            </form>

          </div>



          <div class="contato-card">
            <div class="contato-card__card">
              <div class="contato-card__card__container-img">
                  <img src="../../assets/img/whatsapp-contato-01.png.crdownload" alt="whatsaoo">
              </div>
              <div class="contato-card__card__titulo">
                <h1>(85)99705-2709</h1>
              </div>

            </div>

            <div class="contato-card__card">
              <div class="contato-card__card__container-img">
                <img src="../../assets/img/celular-01.png" alt="celular">
            </div>
            <div class="contato-card__card__titulo">
              <h1>(85)99209-3836</h1>
            </div>

            </div>

            <div class="contato-card__card">
              <div class="contato-card__card__container-img">
                <img src="../../assets/img/email-01.png.crdownload" alt="e-mail">
              </div>
             <div class="contato-card__card__titulo">
               <h1 id="icon-email">jackson1contador@gmail.com</h1>
             </div>

            </div>

            <div class="contato-card__card">
              <div class="contato-card__card__container-img">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.228822911883!2d-38.60297442488768!3d-3.7603034433355553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74b889dacd0d3%3A0x835962f86bfd6350!2sR.%20Humait%C3%A1%2C%20664%20-%20Geniba%C3%BA%2C%20Fortaleza%20-%20CE%2C%2060534-050!5e0!3m2!1spt-BR!2sbr!4v1690050262675!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="google-map"></iframe>
            </div>
            <div class="contato-card__card__titulo">
              <h1>Endereço</h1>
            </div>

            </div>

          </div>

        </section>
      </section>

      <div class="apoio"></div>

    </section>


<app-footer></app-footer>
</body>
