<app-navbar></app-navbar>

<body>
    <div class="apoio">

    </div>

    <section class="card">
      <div class="card__container-img">
        <div class="card__container-img__bg">
          <h1>Quem sou eu ?</h1>
        </div>
      </div>
      <div class="card__container-content">
        <img src="https://jackson1programador.github.io/portfolio/assets/img/foto familia.jpeg" alt="foto do programador">

        <div class="container-informacao">

          <article class="card__container-content__infomacao">
            <h1>Profissional</h1>
            <p>Almejo ingressar na área de programação web (front-end), no qual venho dedicando em média quatro horas por dia em cursos e projetos.
              Atualmente, sou supervisor contábil na empresa Formma Contábil, onde trabalho há sete anos.</p>
          </article>

          <article class="card__container-content__infomacao">
            <h1>Acadêmico</h1>
            <p>Sou graduado em Ciências Contábeis pela FGF (Faculdade Grande Fortaleza), possuo MBA em Planejamento Tributário pela Estácio e estou cursando Análise de Sistemas também pela Estácio.
              Tenho diversos cursos na plataforma da Ûdemy. São eles: JavaScript 42 horas, HTML e CSS 89 horas, Angular 29 horas, Java 77 horas, SASS 14 horas e Git 8 horas.</p>
          </article>

          <article class="card__container-content__infomacao">
            <h1>Comportamental</h1>
            <p>São minhas principais características comportamentais: resiliência, inteligência emocional, autoconhecimento, dedicação, educação contínua, resolução de problemas e fácil relacionamento. </p>
          </article>

          <article class="card__container-content__infomacao">
            <h1>Pessoal</h1>
            <p>Tenho 30 anos, sou casado e tenho uma filha. Gosto de cuidar da saúde, me alimentando bem, praticando exercícios físicos e tendo momentos de lazer. Os meus hobbies são: assistir e jogar futebol, jogar vôlei e passear com a família. Sou uma pessoa simples, calma e bem humorada.</p>
          </article>
        </div>
      </div>


      <section id="contato" class="container-contato">
        <h1>Contato</h1>
        <p>Agradeço a sua visíta! Para mais informações ou para sugestões de melhoria, por gentileza entrar em contato.</p>

        <section class="container-contato__card">
          <div class="formulario">
            <h1 id="titulo-entrarEmContato"> Entrar em contato</h1>
            <p>Tem uma proposta ou algum feedback? Preencha o formulário abaixo para entrar em contato.</p>
            <form action="">

              <label for="nome">Nome</label>
              <input type="text" id="nome" required minlength="2" placeholder="Digite seu nome">

              <label for="email">E-mail</label>
              <input type="email" id="email" required placeholder="Digite seu e-mail">

              <label for="mensagem">Assunto</label>
              <textarea name="mensagem" id="mensagem" cols="30" rows="7" required minlength="10" placeholder="O que deseja?"></textarea>
              <button>Enviar</button>





            </form>

          </div>



          <div class="contato-card">
            <div class="contato-card__card">
              <div class="contato-card__card__container-img">
                  <img src="https://jackson1programador.github.io/portfolio/assets/img/whatsapp-contato-01.png.crdownload" alt="whatsaoo">
              </div>
              <div class="contato-card__card__titulo">
                <h1>(85)99705-2709</h1>
              </div>

            </div>

            <div class="contato-card__card">
              <div class="contato-card__card__container-img">
                <img src="https://jackson1programador.github.io/portfolio/assets/img/celular-01.png" alt="celular">
            </div>
            <div class="contato-card__card__titulo">
              <h1>(85)99209-3836</h1>
            </div>

            </div>

            <div class="contato-card__card">
              <div class="contato-card__card__container-img">
                <img src="https://jackson1programador.github.io/portfolio/assets/img/email.png.crdownload" alt="e-mail">
              </div>
             <div class="contato-card__card__titulo">
               <h1 id="icon-email">jackson1contador@gmail.com</h1>
             </div>

            </div>

            <div class="contato-card__card">
              <div class="contato-card__card__container-img">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.228822911883!2d-38.60297442488768!3d-3.7603034433355553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74b889dacd0d3%3A0x835962f86bfd6350!2sR.%20Humait%C3%A1%2C%20664%20-%20Geniba%C3%BA%2C%20Fortaleza%20-%20CE%2C%2060534-050!5e0!3m2!1spt-BR!2sbr!4v1690050262675!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="google-map"></iframe>
            </div>
            <div class="contato-card__card__titulo">
              <h1>Endereço</h1>
            </div>

            </div>

          </div>

        </section>
      </section>

      <div class="apoio"></div>

    </section>


<app-footer></app-footer>
</body>
