@import "/src/config-scss/app.scss";

body{
  background-color: $bg-color;
  padding-top: 94px;

}
.title{
  color: $text-color;
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 900;

}

.container-cronograma{
  width: 80%;
  height: 70vh;
  min-width: 800px;
  background-color: $bg-color-container-card;
  margin: 2rem auto;
  border-radius: 2rem;
  overflow: auto;

  @include smartphone{
    min-width: initial;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 85vh;


  }
}

.card-cronograma{
  display: flex;

  @include smartphone{
    flex-direction: column;
    //height: 60vh;


  }

}

.container-data{
  background-color: $roso;
  width: 200px;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-bottom: 2px dotted rgba(47, 3, 28, 0.822);
  min-height: 174px;

  @include smartphone{
    height: initial;
    min-height: initial;
    padding: 2rem 0;
    width: 100%;
    margin: auto;

    border: initial;
  }
}





.alinhamento{
  text-align: right;
}

.ano{
  font-size: 3rem;
  font-weight: 900;
}

.mes{
  font-weight: 900;
}

.container-ico{
  background-color: $border-card;
  width: 150px;
  height: 25vh;
  background-image: url(../../assets/img/traco-vertical.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 2px dotted rgba(47, 3, 28, 0.822);
  min-height: 174px;

  @include smartphone{
    height: initial;
    min-height: initial;
    padding: 2rem 0;
    width: 100%;
    margin: auto;
  }

}
.icon{
  width: 75px;
  height: 75px;
  border-radius: 5rem;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon img{
  width: 70%;

}

.container-content{
  background-color: #cccccc;
  width: 300px;
  height: 25vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column  ;

  border-bottom: 2px dotted rgba(47, 3, 28, 0.822);
  min-height: 174px;
  position: relative;

  @include smartphone{
    height: initial;
    min-height: 200px;
    padding: 2rem 0;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    border: initial;
    //box-sizing: border-box;
  }

}

.carimbo-concluido{
  width: 15rem;
  position: absolute;
  right: 1rem;
  opacity: 0.5;

  @include smartphone{
    margin: auto;
    right: initial;
    width: 200px;

    right: -10px;
    bottom: 15px;



  }
}

.container-content p{
  padding: 1rem;
  line-height: 1.3rem;

}

.title-content{
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;

  @include smartphone{
    padding: 0;
    margin: 1rem auto;

  }
}




.card-cronograma:last-of-type .container-data,
.card-cronograma:last-of-type .container-ico,
.card-cronograma:last-of-type .container-content {
  border-bottom: none;
}



.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;

}

.navbarTop{
  position: relative;
  top: 94px;
  z-index: 5;
  width: 100%;


}

// entrando o efeito
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
  @keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }

