<app-navbar></app-navbar>

<body>
  <h1 class="title">Cronograma</h1>
  <section class="container-cronograma">
    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">setembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="../../assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Refatorando CSS - Portfólio</h2>
          <p>Vai ser refatorado o CSS do portfólio deixando um código mais limpo e repulsivo para aparelho mobile</p>


        </div>
    </article>


    <!-- ***********card****** -->


    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">setembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="../../assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Criando CSS - Calculadora</h2>
          <p>Vai ser criado um CSS moderno para o projeto calculadora web.</p>


        </div>
    </article>


    <!-- ***********card****** -->



    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">outubro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="../../assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Refatorando Angular - Portfólio</h2>
          <p>Vai utilizar o Angular para diminuir a repetição de código HTML usando o *FOR.</p>


        </div>
    </article>


    <!-- ***********card****** -->



    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">novembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="../../assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Criando Projeto - Show do Milhão</h2>
          <p>Concluíndo o projeto Show do Milhão com todas funcionalidades, incluíndo repulsividade.</p>


        </div>
    </article>


    <!-- ***********card****** -->




    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">dezembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="../../assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Criando Projeto - APP Currículo</h2>
          <p>Concluíndo o projeto APP Currículo com todas funcionalidades, incluíndo repulsividade..</p>


        </div>
    </article>


    <!-- ***********card****** -->



    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2024
          </h2>
          <h3 class="mes">janeiro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="../../assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Comunidade - Portfólio</h2>
          <p>Vai ser uma contribuição para comunidade de programação, vou incluir um item no menu com a descrição comunidade, onde vai possuir diversos códigos de layouts de: botões, cards, tabelas containers e etc.</p>


        </div>
    </article>


    <!-- ***********card****** -->




  </section>

  <app-footer></app-footer>

</body>
