
<body>
  <app-navbar  [ngClass]="{'navbar': navbarIsActive, 'navbarTop': !navbarIsActive,'slideInDown':navbarIsActive }"></app-navbar>

  <h1 class="title">Cronograma</h1>
  <section class="container-cronograma">
    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">setembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Refatorando CSS - Portfólio</h2>
          <p>Será refatorado o CSS do portfólio, deixando o código mais limpo e responsivo para aparelho mobile.</p>


        </div>
    </article>


    <!-- ***********card****** -->


    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">setembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Criando CSS - Calculadora</h2>
          <p>Será criado um CSS moderno para o projeto calculadora web.</p>

          <img src="https://jackson1programador.github.io/portfolio/assets/img/carimbo-aprovado.png" alt="construído" class="carimbo-concluido">
        </div>
    </article>


    <!-- ***********card****** -->



    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">outubro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Refatorando Angular - Portfólio</h2>
          <p>Utilizará o Angular para diminuir a repetição de código HTML usando o *FOR.</p>


        </div>
    </article>


    <!-- ***********card****** -->



    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">novembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Criando Projeto - Show do Milhão</h2>
          <p>Conclusão do projeto Show do Milhão com todas as funcionalidades, incluíndo responsibilidade.</p>


        </div>
    </article>


    <!-- ***********card****** -->




    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">dezembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Criando Projeto - APP Currículo</h2>
          <p>Conclusão do projeto APP Currículo com todas as funcionalidades, incluíndo responsibilidade.</p>


        </div>
    </article>


    <!-- ***********card****** -->



    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2024
          </h2>
          <h3 class="mes">janeiro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Comunidade - Portfólio</h2>
          <p>Será uma contribuição para a comunidade de programação. Irei incluir um item no menu com a descrição Comunidade, onde possuirá diversos códigos de layouts de: botões, cards, tabelas, containers e etc.</p>


        </div>
    </article>


    <!-- ***********card****** -->




  </section>

  <app-footer></app-footer>

</body>
