<app-navbar></app-navbar>

<body>
  <h1 class="title">Cronograma</h1>
  <section class="container-cronograma">
    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">setembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="../../assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Refatorando CSS</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quis aliquam illum libero nemo dolore, velit quidem vero sapiente nam, magnam sequi impedit, illo reiciendis quibusdam tenetur perferendis. Soluta ratione, harum molestiae id obcaecati quasi natus reiciendis repellat corporis asperiores dignissimos sed itaque accusantium minima consectetur libero deleniti accusamus expedita.</p>


        </div>
    </article>


    <!-- ***********card****** -->


    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">setembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="../../assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Refatorando CSS</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quis aliquam illum libero nemo dolore, velit quidem vero sapiente nam, magnam sequi impedit, illo reiciendis quibusdam tenetur perferendis. Soluta ratione, harum molestiae id obcaecati quasi natus reiciendis repellat corporis asperiores dignissimos sed itaque accusantium minima consectetur libero deleniti accusamus expedita.</p>


        </div>
    </article>


    <!-- ***********card****** -->



    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">setembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="../../assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Refatorando CSS</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quis aliquam illum libero nemo dolore, velit quidem vero sapiente nam, magnam sequi impedit, illo reiciendis quibusdam tenetur perferendis. Soluta ratione, harum molestiae id obcaecati quasi natus reiciendis repellat corporis asperiores dignissimos sed itaque accusantium minima consectetur libero deleniti accusamus expedita.</p>


        </div>
    </article>


    <!-- ***********card****** -->



    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">setembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="../../assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Refatorando CSS</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quis aliquam illum libero nemo dolore, velit quidem vero sapiente nam, magnam sequi impedit, illo reiciendis quibusdam tenetur perferendis. Soluta ratione, harum molestiae id obcaecati quasi natus reiciendis repellat corporis asperiores dignissimos sed itaque accusantium minima consectetur libero deleniti accusamus expedita.</p>


        </div>
    </article>


    <!-- ***********card****** -->




    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">setembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="../../assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Refatorando CSS</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quis aliquam illum libero nemo dolore, velit quidem vero sapiente nam, magnam sequi impedit, illo reiciendis quibusdam tenetur perferendis. Soluta ratione, harum molestiae id obcaecati quasi natus reiciendis repellat corporis asperiores dignissimos sed itaque accusantium minima consectetur libero deleniti accusamus expedita.</p>


        </div>
    </article>


    <!-- ***********card****** -->



    <article class="card-cronograma">
      <div class="container-data">
        <div class="alinhamento">
          <h2 class="ano">
            2023
          </h2>
          <h3 class="mes">setembro</h3>
        </div>


      </div>
      <div class="container-ico">
        <div class="icon">
            <img src="../../assets/img/refatorando.png" alt="refatorando">
        </div>

      </div>
        <div class="container-content">
          <h2 class="title-content">Refatorando CSS</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quis aliquam illum libero nemo dolore, velit quidem vero sapiente nam, magnam sequi impedit, illo reiciendis quibusdam tenetur perferendis. Soluta ratione, harum molestiae id obcaecati quasi natus reiciendis repellat corporis asperiores dignissimos sed itaque accusantium minima consectetur libero deleniti accusamus expedita.</p>


        </div>
    </article>


    <!-- ***********card****** -->




  </section>

  <app-footer></app-footer>

</body>
