<app-navbar></app-navbar>

<body>
  <h1 class="title">Meus Projetos</h1>
  <section class="container">
      <article class="container-projeto">
        <h2 class="title-projeto">Pokedex</h2>
        <div class="flex">
          <div class="container-img-projeto">
            <img src="../../assets/img/pokemom.gif" alt="projeto pokedex" class="img">
          </div>
          <div class="container-content">
            <h3 class="title-content">Sobre</h3>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, fugiat perferendis minus culpa dolorum vel quae ea possimus dicta similique, quod aspernatur. A id optio obcaecati saepe, illum voluptate minima eligendi commodi rem nobis sit maxime quasi aliquam autem. Suscipit quo tempora ipsum est ex officiis fugit soluta animi unde ad, quaerat atque distinctio eum incidunt explicabo reprehenderit eaque voluptas at. Explicabo asperiores architecto suscipit numquam odit totam corrupti sequi possimus! Error consectetur suscipit voluptatibus veniam ullam. Sit provident eos, laudantium enim, velit magni, labore impedit in dolores officiis atque? Odit non cupiditate odio earum sunt modi, sint mollitia ullam?</p>
            <h3 class="title-content">Conhecimentos Utilizados</h3>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, fugiat accusantium! Consequuntur sit recusandae veniam ipsa deserunt hic impedit illo culpa cumque commodi magnam aspernatur provident exercitationem, odio aliquid repellendus et ratione fugit. Beatae minima tempora sequi voluptate dolorum iste, modi quisquam atque, id quo porro magni dignissimos rerum nisi ea incidunt? Eius, neque perferendis nemo explicabo tenetur maxime beatae quasi expedita et numquam repudiandae voluptate libero voluptates nostrum odio quidem, veniam, reiciendis officia itaque corrupti nihil natus quae iste placeat! Dolorem dolor, modi inventore nostrum nihil esse quia. Ipsam, fugiat modi consequuntur obcaecati deleniti ab! Dolores recusandae in tempore?</p>
          </div>
        </div>
        <div class="container-btn">
          <a href="#" class="btn">Visualizar Projeto</a>
        </div>
      </article>


      <article class="container-projeto">
        <h2 class="title-projeto">Checklist</h2>
        <div class="flex">
          <div class="container-img-projeto">
            <img src="../../assets/img/checklist.gif" alt="projeto cheklist" class="img">
          </div>
          <div class="container-content">
            <h3 class="title-content">Sobre</h3>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, fugiat perferendis minus culpa dolorum vel quae ea possimus dicta similique, quod aspernatur. A id optio obcaecati saepe, illum voluptate minima eligendi commodi rem nobis sit maxime quasi aliquam autem. Suscipit quo tempora ipsum est ex officiis fugit soluta animi unde ad, quaerat atque distinctio eum incidunt explicabo reprehenderit eaque voluptas at. Explicabo asperiores architecto suscipit numquam odit totam corrupti sequi possimus! Error consectetur suscipit voluptatibus veniam ullam. Sit provident eos, laudantium enim, velit magni, labore impedit in dolores officiis atque? Odit non cupiditate odio earum sunt modi, sint mollitia ullam?</p>
            <h3 class="title-content">Conhecimentos Utilizados</h3>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, fugiat accusantium! Consequuntur sit recusandae veniam ipsa deserunt hic impedit illo culpa cumque commodi magnam aspernatur provident exercitationem, odio aliquid repellendus et ratione fugit. Beatae minima tempora sequi voluptate dolorum iste, modi quisquam atque, id quo porro magni dignissimos rerum nisi ea incidunt? Eius, neque perferendis nemo explicabo tenetur maxime beatae quasi expedita et numquam repudiandae voluptate libero voluptates nostrum odio quidem, veniam, reiciendis officia itaque corrupti nihil natus quae iste placeat! Dolorem dolor, modi inventore nostrum nihil esse quia. Ipsam, fugiat modi consequuntur obcaecati deleniti ab! Dolores recusandae in tempore?</p>
          </div>
        </div>
        <div class="container-btn">
          <a href="#" class="btn">Visualizar Projeto</a>
        </div>
      </article>


      <article class="container-projeto">
        <h2 class="title-projeto">Controle de Partidas</h2>
        <div class="flex">
          <div class="container-img-projeto">
            <img src="../../assets/img/jogador.gif" alt="projeto controle de partidas" class="img">
          </div>
          <div class="container-content">
            <h3 class="title-content">Sobre</h3>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, fugiat perferendis minus culpa dolorum vel quae ea possimus dicta similique, quod aspernatur. A id optio obcaecati saepe, illum voluptate minima eligendi commodi rem nobis sit maxime quasi aliquam autem. Suscipit quo tempora ipsum est ex officiis fugit soluta animi unde ad, quaerat atque distinctio eum incidunt explicabo reprehenderit eaque voluptas at. Explicabo asperiores architecto suscipit numquam odit totam corrupti sequi possimus! Error consectetur suscipit voluptatibus veniam ullam. Sit provident eos, laudantium enim, velit magni, labore impedit in dolores officiis atque? Odit non cupiditate odio earum sunt modi, sint mollitia ullam?</p>
            <h3 class="title-content">Conhecimentos Utilizados</h3>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, fugiat accusantium! Consequuntur sit recusandae veniam ipsa deserunt hic impedit illo culpa cumque commodi magnam aspernatur provident exercitationem, odio aliquid repellendus et ratione fugit. Beatae minima tempora sequi voluptate dolorum iste, modi quisquam atque, id quo porro magni dignissimos rerum nisi ea incidunt? Eius, neque perferendis nemo explicabo tenetur maxime beatae quasi expedita et numquam repudiandae voluptate libero voluptates nostrum odio quidem, veniam, reiciendis officia itaque corrupti nihil natus quae iste placeat! Dolorem dolor, modi inventore nostrum nihil esse quia. Ipsam, fugiat modi consequuntur obcaecati deleniti ab! Dolores recusandae in tempore?</p>
          </div>
        </div>
        <div class="container-btn">
          <a href="#" class="btn">Visualizar Projeto</a>
        </div>
      </article>


      <article class="container-projeto">
        <h2 class="title-projeto">Calculadora</h2>
        <div class="flex">
          <div class="container-img-projeto">
            <img src="../../assets/img/calculadora.gif" alt="Calculadora" class="img">
            <div class="container-tarja">
              <h2 class="content-tarja">Andamento</h2>
            </div>
          </div>
          <div class="container-content">
            <h3 class="title-content">Sobre</h3>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, fugiat perferendis minus culpa dolorum vel quae ea possimus dicta similique, quod aspernatur. A id optio obcaecati saepe, illum voluptate minima eligendi commodi rem nobis sit maxime quasi aliquam autem. Suscipit quo tempora ipsum est ex officiis fugit soluta animi unde ad, quaerat atque distinctio eum incidunt explicabo reprehenderit eaque voluptas at. Explicabo asperiores architecto suscipit numquam odit totam corrupti sequi possimus! Error consectetur suscipit voluptatibus veniam ullam. Sit provident eos, laudantium enim, velit magni, labore impedit in dolores officiis atque? Odit non cupiditate odio earum sunt modi, sint mollitia ullam?</p>
            <h3 class="title-content">Conhecimentos Utilizados</h3>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, fugiat accusantium! Consequuntur sit recusandae veniam ipsa deserunt hic impedit illo culpa cumque commodi magnam aspernatur provident exercitationem, odio aliquid repellendus et ratione fugit. Beatae minima tempora sequi voluptate dolorum iste, modi quisquam atque, id quo porro magni dignissimos rerum nisi ea incidunt? Eius, neque perferendis nemo explicabo tenetur maxime beatae quasi expedita et numquam repudiandae voluptate libero voluptates nostrum odio quidem, veniam, reiciendis officia itaque corrupti nihil natus quae iste placeat! Dolorem dolor, modi inventore nostrum nihil esse quia. Ipsam, fugiat modi consequuntur obcaecati deleniti ab! Dolores recusandae in tempore?</p>
          </div>
        </div>
        <div class="container-btn">
          <a href="#" class="btn">Visualizar Projeto</a>
        </div>
      </article>


      <article class="container-projeto">
        <h2 class="title-projeto">Show do Milhão</h2>
        <div class="flex">
          <div class="container-img-projeto">
            <img src="../../assets/img/show-do-milhao.gif" alt="projeto show do milhão" class="img">
            <div class="container-tarja">
              <h2 class="content-tarja">Em breve</h2>
            </div>
          </div>
          <div class="container-content">
            <h3 class="title-content">Sobre</h3>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, fugiat perferendis minus culpa dolorum vel quae ea possimus dicta similique, quod aspernatur. A id optio obcaecati saepe, illum voluptate minima eligendi commodi rem nobis sit maxime quasi aliquam autem. Suscipit quo tempora ipsum est ex officiis fugit soluta animi unde ad, quaerat atque distinctio eum incidunt explicabo reprehenderit eaque voluptas at. Explicabo asperiores architecto suscipit numquam odit totam corrupti sequi possimus! Error consectetur suscipit voluptatibus veniam ullam. Sit provident eos, laudantium enim, velit magni, labore impedit in dolores officiis atque? Odit non cupiditate odio earum sunt modi, sint mollitia ullam?</p>
            <h3 class="title-content">Conhecimentos Utilizados</h3>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, fugiat accusantium! Consequuntur sit recusandae veniam ipsa deserunt hic impedit illo culpa cumque commodi magnam aspernatur provident exercitationem, odio aliquid repellendus et ratione fugit. Beatae minima tempora sequi voluptate dolorum iste, modi quisquam atque, id quo porro magni dignissimos rerum nisi ea incidunt? Eius, neque perferendis nemo explicabo tenetur maxime beatae quasi expedita et numquam repudiandae voluptate libero voluptates nostrum odio quidem, veniam, reiciendis officia itaque corrupti nihil natus quae iste placeat! Dolorem dolor, modi inventore nostrum nihil esse quia. Ipsam, fugiat modi consequuntur obcaecati deleniti ab! Dolores recusandae in tempore?</p>
          </div>
        </div>
        <div class="container-btn">
          <a href="#" class="btn">Visualizar Projeto</a>
        </div>
      </article>


      <article class="container-projeto">
        <h2 class="title-projeto">App Currículo</h2>
        <div class="flex">
          <div class="container-img-projeto">
            <img src="../../assets/img/curriculo.gif" alt="Currículo" class="img">
            <div class="container-tarja">
              <h2 class="content-tarja">Em breve</h2>
            </div>
          </div>
          <div class="container-content">
            <h3 class="title-content">Sobre</h3>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, fugiat perferendis minus culpa dolorum vel quae ea possimus dicta similique, quod aspernatur. A id optio obcaecati saepe, illum voluptate minima eligendi commodi rem nobis sit maxime quasi aliquam autem. Suscipit quo tempora ipsum est ex officiis fugit soluta animi unde ad, quaerat atque distinctio eum incidunt explicabo reprehenderit eaque voluptas at. Explicabo asperiores architecto suscipit numquam odit totam corrupti sequi possimus! Error consectetur suscipit voluptatibus veniam ullam. Sit provident eos, laudantium enim, velit magni, labore impedit in dolores officiis atque? Odit non cupiditate odio earum sunt modi, sint mollitia ullam?</p>
            <h3 class="title-content">Conhecimentos Utilizados</h3>
            <p class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, fugiat accusantium! Consequuntur sit recusandae veniam ipsa deserunt hic impedit illo culpa cumque commodi magnam aspernatur provident exercitationem, odio aliquid repellendus et ratione fugit. Beatae minima tempora sequi voluptate dolorum iste, modi quisquam atque, id quo porro magni dignissimos rerum nisi ea incidunt? Eius, neque perferendis nemo explicabo tenetur maxime beatae quasi expedita et numquam repudiandae voluptate libero voluptates nostrum odio quidem, veniam, reiciendis officia itaque corrupti nihil natus quae iste placeat! Dolorem dolor, modi inventore nostrum nihil esse quia. Ipsam, fugiat modi consequuntur obcaecati deleniti ab! Dolores recusandae in tempore?</p>
          </div>
        </div>
        <div class="container-btn">
          <a href="#" class="btn">Visualizar Projeto</a>
        </div>

      </article>





  </section>







<app-footer></app-footer>

</body>
