@import "/src/config-scss/app.scss";

body{
  background-color: $bg-color;
  padding-top: 94px;
}

.title{
  font-size: 3rem;
  color: $text-color;
  letter-spacing: 2px;
  text-align: center;
  padding: 1rem;

  @include smartphone{
    font-size: 2.5rem;
  }
}

.container{
  width: 90%;
  min-width: 800px;
  padding: 1rem;
  margin: auto;

  @include smartphone{
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: initial;
    padding: 0;
    gap: 1rem;
  }



}


.container-projeto{
  margin: 2rem;
  background-color:$bg-color-container-card;
  color: $text-color;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem $border-card;
  height: 82vh;

  @include smartphone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    box-sizing: border-box;


    width: 100%;
    margin: 1rem auto;

    padding: 0;
  }


}

.container-projeto:hover{
  transition: 0.3s;
  opacity: 1;
}

.title-projeto{
  font-size: 2.5rem;
  padding-bottom: 2rem;
  margin: auto;
  letter-spacing: 4px;

  @include smartphone{
    font-size: 2.3rem;
  }

}

#title-menor{
  @include smartphone{
    font-size: 1.8rem;
    padding-bottom: 2rem;
    margin: auto;
    letter-spacing: 2px;
  }
}

.flex{
  display: flex;
  gap: 2rem;

  @include smartphone{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.container-img-projeto{
  width: 30%;
  min-width: 300px;
  //background-color: $text-color;
  position: relative;
  overflow: hidden;
  height: 60vh;

  @include smartphone{
    //width: 100%;
    min-width: initial;
    //height: auto;
    width: 200px;
    height: 250px;
    margin: auto;

    display: flex;
    justify-content: center;
  }
}

.img{
  width: 100%;
  height: 100%;

   @include smartphone{
     width: 200px;
     height: 250px;
  }



}

.title-content{
  font-size: 1.6rem;
  width: 40%;
  min-width: 400px;
  border-bottom: 0.4rem solid $border-card;

  border-radius: 5rem;
  padding-left: 1rem;
  padding-bottom: 0.2rem;

  @include smartphone{
    min-width: 250px;
    margin-top: 1rem;
  }
}

.content{
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.3rem;

  @include smartphone{
   margin-left: 1rem;
  }
}

.container-btn{
  display: flex;
  margin: 2rem;
}

.btn{
  margin: auto;
  display: inline-block;
  padding: 1rem 3rem;
  background-color: $roso;
  border-radius: 5rem;
  color: $text-color;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 1;

  @include smartphone{
    font-size: 1.1rem;
 }
}

.btn:hover{
  transition: 0.3s;
  opacity: 0.8;
}

.container-tarja{
  position: absolute;
  top: 13.5rem;
  left: -2rem;
  z-index: 1;
  background-color: rgba(0,212,255, 0.7);
  transform: rotate(-45deg);
  transform-origin: left;

}

.content-tarja{
  font-size: 2.5rem;
  width: 23rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.5rem;
  text-align: center;

}

.container-content .title-content:last-of-type{
  margin-top: 4rem;

  @include smartphone{
    margin-top: 1.5rem;
   }
}

.emBreve{
  cursor: not-allowed;
}

.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;

}

.navbarTop{
  position: relative;
  top: 94px;
  z-index: 5;
  width: 100%;


}

// entrando o efeito
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
  @keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }

