<app-navbar></app-navbar>

<body>
  <h1 class="title">Meus Projetos</h1>
  <section class="container">
      <article class="container-projeto">
        <h2 class="title-projeto">Pokedex</h2>
        <div class="flex">
          <div class="container-img-projeto">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/pokemom.gif" alt="projeto pokedex" class="img">
          </div>
          <div class="container-content">
            <h3 class="title-content">Sobre</h3>
            <p class="content">Programa web que consome uma API "https://pokeapi.co/". O projeto exibe uma listagem de cards de pokemons. Clicando em um deles, abre uma nova janela com os detalhes do pokemon.</p>
            <h3 class="title-content">Habilidades</h3>
            <p class="content">Para construir esse projeto, foi utilizado: HTML, SCSS, JavaScript, Angular, Figma e Git.</p>
          </div>
        </div>
        <div class="container-btn">
          <a href="https://jackson1programador.github.io/pokedex/" target="_blank" class="btn">Visualizar Projeto</a>
        </div>
      </article>


      <article class="container-projeto">
        <h2 class="title-projeto">Checklist</h2>
        <div class="flex">
          <div class="container-img-projeto">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/checklist.gif" alt="projeto cheklist" class="img">
          </div>
          <div class="container-content">
            <h3 class="title-content">Sobre</h3>
            <p class="content">Programa web construído para criar uma lista de afazeres e controlar o que já foi feito.</p>
            <h3 class="title-content">Habilidades</h3>
            <p class="content">Para construir esse projeto, foi utilizado: HTML, SCSS, JavaScript, Angular, Figma e Git.</p>
          </div>
        </div>
        <div class="container-btn">
          <a href="https://jackson1programador.github.io/AppList/" target="_blank" class="btn">Visualizar Projeto</a>
        </div>
      </article>


      <article class="container-projeto"  >
        <h2 class="title-projeto" id="title-menor">Controle de Partidas</h2>
        <div class="flex">
          <div class="container-img-projeto">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/jogador.gif" alt="projeto controle de partidas" class="img">
          </div>
          <div class="container-content">
            <h3 class="title-content">Sobre</h3>
            <p class="content">Projeto próprio, criado para controlar partidas de baralho (Quanto cada jogador tem ou deve para o outro). Esse programa possui cadastro de jogador, tabela de controle e histórico de partidas. O projeto também possui um back-end "fake" (que simula um servidor back-end), por isso é necessário que baixe o código fonte e suba o servidor front-end e o servidor back-end para o funcionamento de todas as aplicações.</p>
            <h3 class="title-content">Habilidades</h3>
            <p class="content">Para construir esse projeto, foi utilizado: HTML, SCSS, JavaScript, Angular, Angular Material e Git.</p>
          </div>
        </div>
        <div class="container-btn">
          <a href="https://jackson1programador.github.io/jogador/" target="_blank" class="btn">Visualizar Projeto</a>
        </div>
      </article>


      <article class="container-projeto">
        <h2 class="title-projeto">Calculadora</h2>
        <div class="flex">
          <div class="container-img-projeto">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/calculadora.gif" alt="Calculadora" class="img">

          </div>
          <div class="container-content">
            <h3 class="title-content">Sobre</h3>
            <p class="content">Calculadora web básica, porém a lógica de programação é própria. O layout desse projeto foi feito utilizando o display grid.</p>
            <h3 class="title-content">Habilidades</h3>
            <p class="content">Para construir esse projeto, foi utilizado: HTML, CSS, JavaScript e Git.</p>
          </div>
        </div>
        <div class="container-btn">
          <a href="https://jackson1programador.github.io/calculadora/" target="_blank" class="btn">Visualizar Projeto</a>
        </div>
      </article>


      <article class="container-projeto">
        <h2 class="title-projeto">Show do Milhão</h2>
        <div class="flex">
          <div class="container-img-projeto">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/show-do-milhao.gif" alt="projeto show do milhão" class="img">
            <div class="container-tarja">
              <h2 class="content-tarja">Em breve</h2>
            </div>
          </div>
          <div class="container-content">
            <h3 class="title-content">Sobre</h3>
            <p class="content">Projeto que simula o famoso jogo "Show do Milhão". Esse programa será responsivo.</p>
            <h3 class="title-content">Habilidades</h3>
            <p class="content">Para construir esse projeto, será utilizado: HTML, SCSS, JavaScript, Angular e Git.</p>
          </div>
        </div>
        <div class="container-btn">
          <a href="/projetos" class="btn emBreve">Visualizar Projeto</a>
        </div>
      </article>


      <article class="container-projeto">
        <h2 class="title-projeto">App Currículo</h2>
        <div class="flex">
          <div class="container-img-projeto">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/curriculo.gif" alt="Currículo" class="img">
            <div class="container-tarja">
              <h2 class="content-tarja">Em breve</h2>
            </div>
          </div>
          <div class="container-content">
            <h3 class="title-content">Sobre</h3>
            <p class="content">Projeto que auxilia na criação de um currículo, no qual o cliente irá alimentar um formulário e, ao final, ele poderá imprimir um currículo. Esse programa será responsivo.</p>
            <h3 class="title-content">Habilidades</h3>
            <p class="content">Para construir esse projeto, será utilizado: HTML, SCSS, JavaScript, Angular e Git.</p>
          </div>
        </div>
        <div class="container-btn">
          <a href="/projetos" class="btn emBreve">Visualizar Projeto</a>
        </div>

      </article>





  </section>







<app-footer></app-footer>

</body>
