@import "/src/config-scss/app.scss";

body{
  background-color: $bg-color;
}

.title{
  font-size: 3rem;
  color: $text-color;
  letter-spacing: 2px;
  text-align: center;
  padding: 1rem;
}

.container{
  width: 80%;
  min-width: 800px;
  padding: 3rem;
  margin: auto;
  opacity: 0.6;

}
.container:hover{
  transition: 0.3s;
  opacity: 1;
}

.container-projeto{
  margin: 2rem;
  background-color:$bg-color-container-card;
  color: $text-color;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;

}

.title-projeto{
  font-size: 2.5rem;
  padding-bottom: 2rem;
  margin: auto;
  letter-spacing: 4px;

}

.flex{
  display: flex;
  gap: 2rem;
}

.container-img-projeto{
  width: 30%;
  min-width: 300px;
  background-color: $text-color;
}

.img{
  width: 100%;
  height: 100%;

}

.title-content{
  font-size: 1.6rem;
  width: 40%;
  min-width: 400px;
  border-bottom: 0.4rem solid $text-color;
  border-radius: 5rem;
  padding-left: 1rem;
  padding-bottom: 0.2rem;
}

.content{
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.3rem;
}

.container-btn{
  display: flex;
  margin: 2rem;
}

.btn{
  margin: auto;
  display: inline-block;
  padding: 1rem 3rem;
  background-color: $roso;
  border-radius: 5rem;
  color: $text-color;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.6;
}

.btn:hover{
  transition: 0.3s;
  opacity: 1;
}
