
<app-navbar  [ngClass]="{'navbar': navbarIsActive, 'navbarTop': !navbarIsActive,'slideInDown':navbarIsActive }"></app-navbar>
<!-- front-end -->
<div class="container-habilidades">

  <div class="container-barra-navegacao">

  </div>

  <div class="descricao">
    <h1>Front-End</h1>
  </div>
  <div class="container-frontEnd">

    <div class="container-card">

      <!-- ******card => JavaScript****** -->
      <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/js-habilidades-01.png" alt="JavaScript" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">JavaScript</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


       <!-- ******card => CSS****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/css-habilidades-01.png" alt="CSS" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">CSS</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


       <!-- ******card => HTML****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/html-habilidades-01.png" alt="HTML" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">HTML</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


       <!-- ******card => Angular****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/angular-02.png" alt="Angular" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Angular</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


       <!-- ******card => SASS****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/sass-habilidade-01.png" alt="SASS" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">SASS</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


       <!-- ******card => Bootstrap****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/bootstrap-02.png" alt="Bootstrap" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Bootstrap</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>

         <!-- ******card => Angular-Material****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/angular-material.png" alt="Angular Material" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Angular Material</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


       <!-- ******card => GIT****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/git-02.png" alt="Git" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Git</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


       <!-- ******card => Figma****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/figma-02.png" alt="Figma" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Figma</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">

            </div>
          </div>

        </div>
      </div>


         <!-- ******card => paradigma funcional****** -->
         <div class="card">
          <div class="img-container">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/paradigma-funcional-habilidade-01.png" alt="paradigma funcional" class="img-card">
          </div>

          <div class="content-card">

            <div class="container-nome">
              <h1 class="nome">Paradigma Funcional</h1>
            </div>

            <div class="avaliacao">
              <div class="avaliacao-centralizada">
                <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              </div>
            </div>

          </div>
        </div>


    </div>
  </div>


  <!-- ----------------------back end----------- -->

  <div class="descricao">
    <h1>Back-End</h1>
  </div>
  <div class="container-frontEnd">

    <div class="container-card">

      <!-- ******card => Java****** -->
      <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/java-habilidade-01.svg" alt="Java" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Java</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


       <!-- ******card => MySQL****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/mySql-habilidade-01.png" alt="my-sql" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">MySQL</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">

            </div>
          </div>

        </div>
      </div>


       <!-- ******card => SpringBoot****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/SpringBoot-habilidade-01.png" alt="SpringBoot" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">SpringBoot</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">

            </div>
          </div>

        </div>
      </div>


       <!-- ******card => PostMan****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/postman-habilidade-01.png" alt="PostMan" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">PostMan</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">

            </div>
          </div>

        </div>
      </div>


       <!-- ******card => Maven****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/maven-habilidade-01.png" alt="Maven" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Maven</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">

            </div>
          </div>

        </div>
      </div>


       <!-- ******card => JPA****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/JPA-habilidades-01.png" alt="JPA" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">JPA</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


       <!-- ******card => P.O.O****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/poo-habilidades-01.png" alt="P.O.O" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">P.O.O</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>







    </div>
  </div>


   <!-- ----------------------Soft Skill----------- -->

   <div class="descricao">
    <h1>Soft Skill</h1>
  </div>
  <div class="container-frontEnd">

    <div class="container-card">

      <!-- ******card => resiliente****** -->
      <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/resiliente.png" alt="resiliente" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Resiliêcia</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


       <!-- ******card => Inteligência Emocional****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/inteligencia-emocional-01.png" alt="Inteligência Emocional" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Inteligência Emocional</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


       <!-- ******card => autogestão****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/autogestão.png" alt="autogestão" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Autogestão</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">

            </div>
          </div>

        </div>
      </div>


       <!-- ******card => Aprender a aprender****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/aprender-a-aprender.png" alt="Aprender a aprender" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Aprender a aprender</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">

            </div>
          </div>

        </div>
      </div>


       <!-- ******card => Planejamento****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/planejamento.png" alt="Planejamento" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Planejamneto</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">

            </div>
          </div>

        </div>
      </div>


       <!-- ******card => Comunicação****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/comunicacao.png" alt="Comunicação" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Comunicação</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


       <!-- ******card => Resolução de Problema****** -->
       <div class="card">
        <div class="img-container">
          <img src="https://jackson1programador.github.io/portfolio/assets/img/resolucao-de-problema.png" alt="Resolução de Problema" class="img-card">
        </div>

        <div class="content-card">

          <div class="container-nome">
            <h1 class="nome">Resolução de Problemas</h1>
          </div>

          <div class="avaliacao">
            <div class="avaliacao-centralizada">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
            </div>
          </div>

        </div>
      </div>


        <!-- ******card => Autoconfiança****** -->
        <div class="card">
          <div class="img-container">
            <img src="https://jackson1programador.github.io/portfolio/assets/img/autoconfianca.png" alt="Autoconfiança" class="img-card">
          </div>

          <div class="content-card">

            <div class="container-nome">
              <h1 class="nome">Autoconfiança</h1>
            </div>

            <div class="avaliacao">
              <div class="avaliacao-centralizada">
                <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
              </div>
            </div>

          </div>
        </div>

          <!-- ******card => Proatividade****** -->
          <div class="card">
            <div class="img-container">
              <img src="https://jackson1programador.github.io/portfolio/assets/img/iniciativa.png" alt="Proatividade" class="img-card">
            </div>

            <div class="content-card">

              <div class="container-nome">
                <h1 class="nome">Proatividade</h1>
              </div>

              <div class="avaliacao">
                <div class="avaliacao-centralizada">
                  <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                  <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                  <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                  <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                  <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                </div>
              </div>

            </div>
          </div>


               <!-- ******card => Honestidade****** -->
               <div class="card">
                <div class="img-container">
                  <img src="https://jackson1programador.github.io/portfolio/assets/img/honestidade.png" alt="Honestidade" class="img-card">
                </div>

                <div class="content-card">

                  <div class="container-nome">
                    <h1 class="nome">Honestidade</h1>
                  </div>

                  <div class="avaliacao">
                    <div class="avaliacao-centralizada">
                      <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                      <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                      <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                      <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                      <img src="https://jackson1programador.github.io/portfolio/assets/img/star.png" alt="" class="star">
                    </div>
                  </div>

                </div>
              </div>







    </div>
  </div>

  <app-footer></app-footer>

</div>



