<app-navbar></app-navbar>

<div class="container">

  <div class="container-home">

    <div class="container-apresentacao">

       <div class="container-informacao">
         <h2 class="nome efeito-text slideInLeft">{{nomeTela}}</h2>
         <h1 class="sobreNome efeito-text slideInLeft">{{sobrenomeTela}}</h1>
         <h3 class="funcao efeito-text slideInLeft">{{funcaoTela}}</h3>
         <a routerLink="/projetos" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" class="btn-transparente" id="btn-home">Projeto</a>
         <a routerLink="/cronograma" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" class="btn-transparente" id="btn-home">Cronograma</a>
       </div>
     </div>

     <div class="container-foto">
       <div class="container-interno-foto">
         <img src="../../assets/img/foto individual-03.jpg" alt="foto do programador" class="foto">
       </div>
     </div>

  </div>

  <div class="container-icon">

    <ul class="ul-icon">
      <li class="li-icon"><img src="../../assets/img/html-02.png" alt="habilidade html" class="img-habilidades"> </li>
      <li class="li-icon"><img src="../../assets/img/css-02.png" alt="habilidade css" class="img-habilidades"> </li>
      <li class="li-icon"><img src="../../assets/img/js-02.png" alt="habilidade js" class="img-habilidades"> </li>
      <li class="li-icon"><img src="../../assets/img/angular-02.png" alt="habilidade angular" class="img-habilidades"> </li>
      <li class="li-icon"><img src="../../assets/img/sass-02.png" alt="habilidade sass" class="img-habilidades"> </li>
      <li class="li-icon"><img src="../../assets/img/bootstrap-02.png" alt="habilidade bootstrap" class="img-habilidades"> </li>
      <li class="li-icon"><img src="../../assets/img/git-02.png" alt="habilidade git" class="img-habilidades"> </li>
      <li class="li-icon"><img src="../../assets/img/figma-02.png" alt="habilidade figma" class="img-habilidades"> </li>



    </ul>

  </div>






  <app-footer></app-footer>
</div>



