<app-navbar></app-navbar>

<div class="container-home">

  <div class="container-apresentacao">


    <div class="container-informacao">
      <h2 class="nome">{{nomeTela}}</h2>
      <h1 class="sobreNome">{{sobrenomeTela}}</h1>
      <h3 class="funcao">{{funcaoTela}}</h3>

      <button class="btn-transparente" id="btn-home">Resumo</button>
      <button class="btn-transparente" id="btn-home">Portfolio</button>

    </div>

    <div class="container-redeSocial">

      <ul>
       <li class="container-icon">
        <i class="fa-brands fa-whatsapp"></i>
       </li>

      </ul>


    </div>


  </div>



</div>
