@import "/src/config-scss/app.scss";

.container{
  background: $bg-color;
}

.container-home{
  background-color: $bg-color;
  height: 90vh;
  display: flex;
  width: 100%;
  height: 59vh;

}



.container-apresentacao{
  color: $text-color;
  width: 60%;
  height: 100%;

}

.container-informacao{
  margin-top: 5rem;
  margin-left: 10rem;

}

.nome{
  font-size: 3rem;
  font-weight: 400;

}

.sobreNome{
  font-size: 4rem;
  font-weight: 900;
}

.funcao{
  font-size: 1.4rem;
  margin-top: 0.5rem;
  font-family: 'Lexend Peta', sans-serif;
  font-weight: 300;

}

#btn-home{
  margin-top: 2rem;
  margin-right: 5rem;
  padding: 0.3rem 3rem;
}

.efeito-text{

}
.efeito-text:hover{
  transition: 0.3;
  color: $roso;

}

.container-foto{
  width: 40%;
  height: 100%;
}

.foto{
  width: 30%;
  height: 30%;
  border-radius: 10rem;
  border: solid 0.1rem $roso;
  margin-top: 5rem;
  margin-left: 10rem;
}

.ul-icon{
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 10rem;
}





.container-icon{
  width: 100%;
  height: 30vh;
 // background-image: url("../../assets/img/img-home-04.jpg");
}



.li-icon{
  width: 6rem;
  height: 6rem;
  background-color: $roso;
  border-radius: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border: solid 0.1rem $text-color;
}
.li-icon:hover{
  transition: 0,3s;
  width: 7rem;
  height: 7rem;
}







.img-habilidades{
  width: 80%;
  height: 80%;

}




.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }



