<app-navbar></app-navbar>

<div class="container-home">

  <div class="container-apresentacao">

     <div class="container-informacao">
       <h2 class="nome efeito-text slideInLeft">{{nomeTela}}</h2>
       <h1 class="sobreNome efeito-text slideInLeft">{{sobrenomeTela}}</h1>
       <h3 class="funcao efeito-text slideInLeft">{{funcaoTela}}</h3>
       <button class="btn-transparente" id="btn-home">Resumo</button>
       <button class="btn-transparente" id="btn-home">Portfolio</button>
     </div>
   </div>

   <div class="container-foto">
     <div class="container-interno-foto">
       <img src="../../assets/img/foto.jpeg" alt="foto do programador" class="foto">
     </div>
   </div>

</div>

<div class="container-icon">

  <ul class="ul-icon">
    <li class="li-icon"><img src="../../assets/img/html-02.png" alt="habilidade html" class="img-habilidades"> </li>
    <li class="li-icon"><img src="../../assets/img/css-02.png" alt="habilidade html" class="img-habilidades"> </li>
    <li class="li-icon"><img src="../../assets/img/js-02.png" alt="habilidade html" class="img-habilidades"> </li>
    <li class="li-icon"><img src="../../assets/img/angular-02.png" alt="habilidade html" class="img-habilidades"> </li>
    <li class="li-icon"><img src="../../assets/img/sass-02.png" alt="habilidade html" class="img-habilidades"> </li>
    <li class="li-icon"><img src="../../assets/img/bootstrap-02.png" alt="habilidade html" class="img-habilidades"> </li>
    <li class="li-icon"><img src="../../assets/img/git-02.png" alt="habilidade html" class="img-habilidades"> </li>
    <li class="li-icon"><img src="../../assets/img/figma-02.png" alt="habilidade html" class="img-habilidades"> </li>



  </ul>

</div>

<app-footer></app-footer>
