

<div class="container-footer">
  <div class="container-logo">
    <div class="logo">
      <p class="text-color">JA</p>
    </div>


  </div>


  <div class="container-links">
    <ul class="navegacao">
      <li><a href="#" class="link">Home</a></li>
      <li><a href="#" class="link">Habilidades</a></li>
      <li><a href="#" class="link">Projetos</a></li>
    </ul>

    <ul class="sobre">
      <li><a href="#" class="link">Sobre</a></li>
      <li><a href="#" class="link">Experiencias</a></li>
      <li><a href="#" class="link">Resumo</a></li>
    </ul>


  </div>


  <div class="container-rede-sociais">

    <div class="container-icon">
      <img src="../../../assets/img/linkedin-02.png" alt="Linkedin" class="img-rede-sociais">
      <img src="../../../assets/img/git-03.png" alt="Guit" class="img-rede-sociais">
      <img src="../../../assets/img/instagram-02.png" alt="Instagran" class="img-rede-sociais">

    </div>

    <div class="container-btn">

      <button class="btn-footer">Contato</button>

    </div>



  </div>

</div>

<div class="copyright">
  <p class="copy">&copy; 2022 Copyright - Desesenvolvedor Jackson</p>
</div>
