@import "../../../config-scss/app.scss";

.container-footer{
  justify-content: space-between;
  display: flex;
  color: $text-color;
  background-color: rgba(0,0,0,0.8);

  @include smartphone{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

}

.container-logo {
  padding-left: 3rem;
  padding-top: 2rem;
  width: 33%;

  @include smartphone{
    grid-column: 1/2;
    grid-row: 1/2;

    display: flex;
    margin: auto;

    padding: 0;
  }
}

.logo{
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: $roso;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-content: center;

}
.text-color{
font-size: 1.5rem;
margin: auto;
}

.container-links{
  justify-content: space-between;
  display: flex;
  width: 34%;
  padding-top: 2rem;

  @include smartphone{
    grid-column: 1/3;
    grid-row: 2/3;

    margin: auto;
  }

}

.link{
  margin-bottom: 1rem;
  display: inline-block;
  color: $text-color
}
.link:hover{
  transition: 0.3s;
  font-size: 1.1rem;
  color: $roso;
}

.container-rede-sociais{
  width: 33%;
  padding-top: 2rem;

  @include smartphone{
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
  }

}

.container-icon{
  justify-content: center;
  display: flex;

}

.img-rede-sociais{
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  cursor: pointer;
  opacity: 0.6;
}
.img-rede-sociais:hover{
  transition: 0.3s;
  width: 2.2rem;
  height: 2.2em;
  opacity: 1;
}

.container-btn{
  justify-content: center;
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}

.btn-footer{
  padding: 0.4rem 2rem;
  background-color: $roso-transparente;
  color: $text-color;
  border-radius: 15rem;
  border: solid 0px;
  cursor: pointer;

}
.btn-footer:hover{
  transition: 0.3s;
  background-color: $roso;
}

.copy{
  text-align: center;
  padding: 0.5rem;
  font-size: 0.7rem;
  color: $text-color;
  background-color: rgba(0,0,0,0.9);

  @include smartphone{
    padding-top: 3rem;
  }
}
