

<div class="container-footer">
  <div class="container-logo">
    <div class="logo">
      <p class="text-color">JA</p>
    </div>


  </div>


  <div class="container-links">
    <ul class="navegacao">
      <li><a routerLink="" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" class="link">Home</a></li>
      <li><a routerLink="/habilidade" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" class="link">Habilidades</a></li>
      <li><a routerLink="/projetos" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" class="link">Projetos</a></li>
    </ul>

    <ul class="sobre">
      <li><a routerLink="/sobre" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" class="link">Sobre</a></li>
      <li><a routerLink="/cronograma" [routerLinkActive]="['ativa']" [routerLinkActiveOptions]="{exact: true}" class="link">Cronograma</a></li>
      <li><a href="/sobre/#contato" class="link">Contato</a></li>
    </ul>


  </div>


  <div class="container-rede-sociais">

    <div class="container-icon">
      <a target="_blank" href="https://www.linkedin.com/in/jackson-albuquerque-de-andrade-55467a21a/"><img src="https://jackson1programador.github.io/portfolio/assets/img/linkedin-02.png" alt="Linkedin" class="img-rede-sociais"></a>
      <a target="_blank" href="https://github.com/Jackson1programador" ><img src="https://jackson1programador.github.io/portfolio/assets/img/git-03.png" alt="Guit" class="img-rede-sociais"></a>
      <a target="_blank" href="https://instagram.com/jackson_albuquerque92?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"><img src="https://jackson1programador.github.io/portfolio/assets/img/instagram-02.png" alt="Instagran" class="img-rede-sociais"></a>

    </div>

    <div class="container-btn">

      <a href="/sobre/#contato" class="btn-footer">Contato</a>

    </div>



  </div>

</div>

<div class="copyright">
  <p class="copy">&copy; 2023 Copyright - Desesenvolvedor Jackson</p>
</div>
