
$text-color: #fff;
$text-color-secondary: #a6a6a6;
$text-color-navbar: black;
$body-bg-color: #271b31;
$bg-color: #0e0b16;
$bg-color-secondary: #0e0b16;
$gradient: linear-gradient(45deg, rgb(19, 13, 145) 0%, rgb(15, 15, 212) 35%, rgba(0,212,255,1) 100%);
$roso: rgba(0,212,255,1);
$roso-transparente: rgba(0,212,255,0.5);
$bg-color-container-card: #151122;
$border-card: rgb(6, 2, 92);
$bg-color-card-habilidade: rgb(85, 11, 214);

